{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Kirby Yard Sale</title>
        <link rel="stylesheet" href="{% static 'main_app/dist/css/app.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Grand+Hotel|Leckerli+One|Dawning+of+a+New+Day" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Slabo+27px|Dosis:400,500|Oswald" rel="stylesheet" type="text/css">        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    </head>
    <body>

      <div id="container"></div>
      {% csrf_token %}

      <script src="{% static 'main_app/dist/js/bundle.js' %}"></script>
    </body>
</html>
